
:root{
    --dark-text-color:rgb(51, 50, 50);
    --main-bg-color:rgb(246, 238, 237);
    --hover-outline-color:hsl(0, 1%, 30%);
}
*, ::before, ::after{
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark-text-color);
}

body{
    background-color: var(--main-bg-color);
}

h2{
    font-size: 3rem;
    padding: 1em;
    text-align: center;
}

h3{
    font-size: 2rem;
    margin: .5em 0;
}

hr{
    width: 400px;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.5rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    height: 80vh;
}

main>p{
    width: 700px;
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-align: justify;
    line-height: 1.3em;
    font-style: italic;
    width: 80%;
    max-width: 600px;
}

main>button{
    font-size: 2rem;
    padding: .5em 1em;
    background-color: var(--main-bg-color);
    border: none;
    width: 80%;
    height: 2.5em;
}

#high-scores-main{
    justify-content: flex-start;
}

main>button:hover{
    /* border: 2px solid var(--hover-outline-color); */
    background-color: rgb(235, 227, 217);
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 3px black solid;
    font-size: 4rem;
    width: 12rem;
    text-align: center;
    margin: 1em;
    /* separate the letter like an arcade machine */
    letter-spacing: 20px;
    text-align: center;
}

input:focus-visible{
    outline: none;
}

#play-again-btn{
    font-size: 3rem;
}

footer{
    text-align: center;
}

footer>p{
    font-size: 2rem;
    font-style: italic;
}

#high-scores-list>li{
    display: flex;
    padding: .3em;
    justify-content: space-around;
    font-size: 1.7rem;
    width: 200px;
}


#high-scores-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#high-scores-container>h2{
    text-decoration: underline;
    padding: 20px;
}

#high-scores-container button{
    margin: 1em;
    padding: 1em;
    font-size: 1.5rem;
    border: none;
    background-color: black;
    color: #f6eeed;
}

/* need a set height or siblings positions will fluxuate with the animation */
#start-quiz-btn{
    animation: flux 1s linear infinite;
    height: 100px;
}

/* animate start button's text */
@keyframes flux {
    from{
        font-size: 1.8rem;
        color: rgb(80, 80, 80);
    }
    50%{
        font-size: 2rem;
        color: black;
    }
    to{
        font-size: 1.8rem;
        color: rgb(80, 80, 80);
    }
}

/* pads */
@media screen and (max-width: 820px ) {
    h2{
        font-size: 2rem;
    }
    /* can't hover so need static colors on buttons */
    main>button{
        margin:5px;
        background-color:rgb(226, 215, 200) ;
    }
    main>button:hover{
        background-color:rgb(226, 215, 200) ;
    }
}

/* phones */
@media screen and (max-width:375px) {
    h2{
        font-size: 1.8rem;
    }
    main>button{
        font-size: 1.4rem;
        /* prevent overflow */
        height: fit-content;
    }
}